services:
  user-db:
    image: postgres:16
    container_name: user-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: userdb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - micro-net

  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    depends_on:
      user-db:
        condition: service_healthy
    networks:
      - micro-net

  order-service:
    build: ./order-service
    ports:
      - "8082:8082"
    depends_on:
      - user-service
    networks:
      - micro-net

  payment-service:
    build: ./payment-service
    ports:
      - "8083:8083"
    depends_on:
      - order-service
    networks:
      - micro-net

  notification-service:
    build: ./notification-service
    ports:
      - "8084:8084"
    depends_on:
      - payment-service
      - order-service
    networks:
      - micro-net

networks:
  micro-net:
    driver: bridge
